<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cambiar Contraseña</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="bg-info-subtle">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/img/logo.png}" width="100px">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrincipal" aria-controls="navbarPrincipal" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarPrincipal">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<th:block th:if="${usuario.getRol().getNomRol().equals('Administrador')}">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/usuario/mantenimiento}"><i class="bi bi-people"></i> Usuarios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/rol/mantenimiento}"><i class="bi bi-diagram-3"></i> Roles</a>
						</li>
					</th:block>
					<th:block th:if="${usuario.getRol().getNomRol().equals('Gestor de Inventario')}">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/productoFarmaceutico/mantenimiento}"><i class="bi bi-boxes"></i> Productos Farmacéuticos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/dispositivoMedico/mantenimiento}"><i class="bi bi-boxes"></i> Dispositivos Médicos</a>
						</li>
					</th:block>
					<li th:if="${usuario.getRol().getNomRol().equals('Solicitante')}" class="nav-item">
						<a class="nav-link" th:href="@{/solicitudAbastecimiento/generar}"><i class="bi bi-file-earmark-text"></i> Generar Solicitud de Abastecimiento</a>
					</li>
					<li th:if="${usuario.getRol().getNomRol().equals('Evaluador')}" class="nav-item">
						<a class="nav-link" th:href="@{/solicitudAbastecimiento/evaluar}"><i class="bi bi-file-earmark-check"></i> Evaluar Solicitud de Abastecimiento</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-badge"></i> Usuario
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/usuario/datosPersonales}"><i class="bi bi-person-lines-fill"></i> Datos Personales</a></li>
							<li><a class="dropdown-item" th:href="@{/usuario/cambiarContrasena}"><i class="bi bi-fingerprint"></i> Cambiar Contraseña</a></li>
						</ul>
					</li>
				</ul>
				<form th:action="@{/logout}" method="post">
					<button type="submit" class="btn btn-outline-danger"><i class="bi bi-door-open"></i> Cerrar Sesión</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="p-5">
		<div class="p-5 bg-light container col-sm-7 col-md-6 col-lg-5">
			<h1>Cambiar Contraseña</h1>
			<hr>
			<div th:if="${param.nuevo}" class="alert alert-info" role="alert">
			    Por favor, cambie su contraseña actual.
		    </div>
			<div class="mb-3">
				<label class="form-label" for="claveUsua1">Nueva Contraseña:</label>
				<input class="form-control mb-3" id="claveUsua1" type="password" autocomplete="off" placeholder="Ingresar su nueva contraseña...">
				<input class="form-control" id="claveUsua2" type="password" autocomplete="off" placeholder="Volver a ingresar su nueva contraseña...">
			</div>
			<div id="error1" class="text-danger text-center mb-3">
				
			</div>
			<button id="btn-guardar-contrasena" class="btn btn-outline-success"><i class="bi bi-check"></i> Guardar</button>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{/js/usuario/cambiarContrasena.js}"></script>
</html>